[submodule "third_party/3d_building_metrics"]
	path = third_party/3d_building_metrics
	url = https://github.com/tudelft3d/3d-building-metrics
[submodule "third_party/neural_solver_library"]
	path = third_party/neural_solver_library
	url = https://github.com/thuml/Neural-Solver-Library
