numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tqdm
torch            
torchvision
torchaudio
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
timm
einops
nystrom-attention
